{
  "app": {
    "guid": "da7aa2b4-ab70-4bde-991d-4d8ee1a1f279",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.cts2550",
    "artifactId": "io.cronapp.apps.cts2550"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "ZGE3YWEyYjQtYWI3MC00YmRlLTk5MWQtNGQ4ZWUxYTFmMjc5",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.cts2550",
      "backend": "true",
      "theme": "Material",
      "authentication": "Token",
      "frontend": "true"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "America/Sao_Paulo",
  "timeZoneOffset": -180,
  "flushMode": "AUTO",
  "xframeOptions": "SameOrigin"
}